page-profile-details {
  ion-row  {
    max-width: 800px;
    margin: 0 auto;
  }

  .col {
    padding: 0;
  }

  .card-md, .card-ios, .card-wp {
    width: auto;
  }

  .item-md, .item-ios, .item-wp {
    > div  {
      padding-left: 32px;
    }

    .MathJax {
      padding: 13px 0 13px 32px;
    }
  }

  .item-divider-md {
    padding-left: 0px;
    > div {
      padding-left: 16px;
    }
  }
}
