page-helper {
  .swiper-slide {
    align-items: start;
    -webkit-box-pack: start;
    -webkit-align-items: start;
    padding: 16px;
    overflow-y: auto;
    .slide-zoom {
      max-width: 800px;
    }

    p.image-header {
      font-size: 15px;
      background-color: color($colors, light);
    }

    // img {
    //   height: 200px;
    //   width: 200px;
    // }
  }
}
