<ion-header>
  <ion-navbar>
    <ion-title>Selbsttest</ion-title>
    <ion-buttons right class="hidden-lg-up" padding-right>
      <button ion-button icon-start icon-only (click)="openSidemenu('glossaryMenu')">
        <ion-icon name="book"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides #slides>

    <ion-slide class="start-slide">
      <button ion-button color="primary" (click)="nextSlide()">Start!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">

        <ion-card>
          <ion-card-header>
           {{question.tags[0]}}
          </ion-card-header>
          <ion-card-content [innerHTML]="question.qtext">
          </ion-card-content>
        </ion-card>
      <!--<flash-card [isFlipped]="flashCardFlipped">
        <div class="flash-card-front" [innerHTML]="question.qtext"></div>
        <div class="flash-card-back" [innerHTML]="answerChecking"></div>
      </flash-card>-->

      <!--<h3>{{question.questionText}}</h3>-->

      <ion-list no-lines radio-group>

        <ion-item text-wrap *ngFor="let answer of question.answers; let j = index;"
                  [class.wronganswer]="!answer.correct && showAnswers[i+1]" [class.rightanswer]="answer.correct && showAnswers[i+1]">
          <ion-label class="keep-opacity">{{j+1}}. <span [innerHTML]="answer.atext"></span></ion-label>
          <ion-label class="keep-opacity" *ngIf="checked[answer.id] && answered && answer.correct"><ion-icon name="md-checkmark"></ion-icon>  {{answer.feedback_correct}}</ion-label>
          <ion-label class="keep-opacity" *ngIf="checked[answer.id] && answered && !answer.correct"><ion-icon name="md-close"></ion-icon>  {{answer.feedback_incorrect}}</ion-label>
          <ion-checkbox item-right (ionChange)="selectAnswer(answer, question, $event)" [disabled]="showAnswers[i+1]"></ion-checkbox>
        </ion-item>

      </ion-list>
      <!--&lt;!&ndash; Float the icon left &ndash;&gt;
      <button ion-button icon-left (click)="lastSlide()">
        <ion-icon name=""></ion-icon>
        zurück
      </button>

      &lt;!&ndash; Float the icon right &ndash;&gt;
      <button ion-button icon-right (click)="nextSlide()">
        vorwärts
        <ion-icon name=""></ion-icon>
      </button>    </ion-slide>

    <ion-slide>
      <h2>Final Score: {{score}}</h2>

      <button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>-->

      <ion-footer>
        <ion-grid>
          <ion-row>
        <button ion-button (click)="checkAnswer(question.answers)" class="centering">{{buttontext}}</button>
          </ion-row>
          <ion-row>
        <button ion-button clear (click)="lastSlide()" class="progress-bar-next centering">
          <ion-icon class="progress-icon" name="ios-arrow-dropleft-circle" ></ion-icon>
        </button>
        <button class="progress-bar-button centering keep-opacity" [disabled]="true" >
          <progress-bar [progress]="loadProgress(i, questions.length)" [question]="i" [total_questions]="questions.length"></progress-bar>
        </button>
        <button ion-button clear (click)="nextSlide()" class="progress-bar-next centering">
          <ion-icon class="progress-icon" name="ios-arrow-dropright-circle"  ></ion-icon>
        </button>
          </ion-row>
        </ion-grid>
      </ion-footer>

    </ion-slide>

  </ion-slides>

</ion-content>
