page-quiz {
  .rightanswer {
    background-color: rgba(50, 219, 100, 0.11);
  }
  .wronganswer {
    background-color: rgba(255, 69, 0, 0.1);
  }

}
.progress-icon {
  font-size: 35px !important; //icon size for progress bar in quiz
}

.keep-opacity {
  opacity: 1 !important;
}

.progress-bar-button {
  width: 80%;
  background: white;
}

.progress-bar-next {
  width: 9%;
}

.centering {
  margin: auto;
}
