page-profiles1 {
  ion-row  {
    max-width: 800px;
    margin: 0 auto;
  }

  .col {
    padding: 0;
  }

  .card-md, .card-ios, .card-wp {
    width: auto;
  }

  .item-md,
  .item-ios {
    ion-thumbnail[item-start]{
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      background-color:rgba(158,158,158,0.1);
    }
  }

  .item-md p,
  .item-ios p {
    font-size: 1.6rem;
    padding-left: 16px;
  }
}
