page-feedback {
  textarea {
    height: 200px;
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  .modal-wrapper {
    left: calc(50% - (600px/2));
    top: calc(50% - (60%/2));
    position: absolute;
    width: 600px;
    min-height: 650px;
    height: 60%;
  }
}
