<md-nav-list>
 <md-list-item md-line routerLink="/profiles/1">Elemente</md-list-item>
 <md-list-item md-line routerLink="/profiles/2">Sulfide und Sulfosalze</md-list-item>
 <md-list-item md-line routerLink="/profiles/3">Halogenide</md-list-item>
 <md-list-item md-line routerLink="/profiles/4">Carbonate und Nitrate</md-list-item>
 <md-list-item md-line routerLink="/profiles/5">Borate</md-list-item>
 <md-list-item md-line routerLink="/profiles/6">Sulfate</md-list-item>
 <md-list-item md-line routerLink="/profiles/7">Phosphate, Arsenate und Vanadate</md-list-item>
 <md-list-item md-line routerLink="/profiles/8">Silikate und Germanate</md-list-item>
 <md-list-item md-line routerLink="/profiles/9">Organische Verbindungen</md-list-item>
</md-nav-list>
