page-home {
  ion-row {
    margin: 0 auto;
    max-width: 400px;
  }

  ion-icon{
    display: block;
  }

  .card-md, .card-ions, .card-wp {
    border-radius: 0;
    width: auto;
  }

  ion-card{
    &:hover, &:active {
      cursor: pointer;
      background-color: color($colors, primary);
      .card-title-md, .card-title-ios, .card-title-wp {
        color: #fff;
      }
    }
  }
}
