// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.content .scroll-content {
  overflow-y: auto;
}

// .split-pane-md, .split-pane-ios, .split-pane-wp {
//   &.split-pane-visible{
//     > .split-pane-site {
//       max-width: 100%;
//     }
//   }
// }
.split-pane-md, .split-pane-ios, .split-pane-wp {
  &.split-pane-visible  {
    > .split-pane-side {
      max-width: 100%;
    }

    > ion-menu.split-pane-side {
      max-width: 300px;
    }
  }

  @media (min-width: 992px) {

    .hidden-lg-up {
      display: none !important;
    }

    .sidemenu-enabled{
      display: block;
      > .menu-inner {
        left: 0;
        right: 0;
        width: auto;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transform: none !important;
        transform: none !important;
      }
    }
  }
}
