<!--<div fxlayout="row">
  <div flex="50" style="background-color:#ff0; height: 100px;"></div>
  <div flex="50" style="background-color: #f0f; height: 100px;"></div>
</div>-->
<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile routerLink="/profiles">STECKBRIEFE</md-grid-tile>
  <md-grid-tile>GALERIE</md-grid-tile>
  <md-grid-tile>KRISTALL-SYSTEME</md-grid-tile>
  <md-grid-tile>BESTIMMUNGSGHELFER</md-grid-tile>
  <md-grid-tile>SELBSTTEST</md-grid-tile>
  <md-grid-tile>GLOSSAR</md-grid-tile>
</md-grid-list>